.home{
    display: flex;
    margin: 7vh 15vh 10vh 15vw;
    gap: 5vw;
    .left{
        flex: 2.1;
        .post-ared{
            border: 1px solid #E0E0E0;
            border-radius: 10px;
            margin-bottom: 1vw;
            position: relative;
            .postimg{
                border-radius: 10px 10px 0px 0px;
                width: 100%;
                height: 32vh;
                object-fit: cover;
            }
            .text{
                margin: 1.5vw;
                display: flex;
                flex-direction: column;
                gap: 2vh;
                position: relative;
                .menu{
                    border: none;
                    width: 2.5vw;
                    height: 2.5vw;
                    cursor: pointer;
                    background-color: white;
                    position: absolute;
                    right: 0;
                    top: 6vh;          
                }
                .medtext{
                    font-size: 18px;
                    font-weight: bold;
                }
                .boldtext{
                    font-weight: bold;
                    font-size: 22px;
                }
                .smtext{
                    font-size: 18px;
                    color: #5C5C5C;
                }
            }
            .details{
                display: flex;
                align-items: center;
                gap: 5vw;
                .date{
                    display: flex;
                    gap: 0.4vw;
                    font-size: 12px;
                    align-items: center;
                    img{
                        object-fit: cover;
                        height: 3vh;
                    }
                }
                .location{
                    display: flex;
                    gap: 0.4vw;
                    align-items: center;
                    font-size: 12px;
                    img{
                        object-fit: cover;
                        height: 3vh;
                    }
                }
            }
            .website{
                .websitebtn{
                    width: 100%;
                    height: 6vh;
                    background-color: white;
                    color: #E56135;
                    font-family: poppins;
                    font-weight: bold;
                    font-size: 14px;
                    border: 1px solid #A9AEB8;
                    border-radius: 10px;
                }
            }
            .Apply{
                .applybtn{
                    width: 100%;
                    height: 6vh;
                    background-color: white;
                    color: #02B875;
                    font-family: poppins;
                    font-weight: bold;
                    font-size: 14px;
                    border: 1px solid #A9AEB8;
                    border-radius: 10px;
                }
            }
            .userEx{
                margin: 1.5vw;
                display: flex;
                justify-content: space-between;
                .userleft{
                    display: flex;
                    align-items: center;
                    font-weight: bold;
                    gap: 2vw;
                    .userImg{
                        border-radius: 50%;
                    }
                }
                .userright{
                    display: flex;
                    align-items: center;
                    gap: 2vw;
                    button{
                        border: none;
                        display: flex;
                        align-items: center;
                        font-family: poppins;
                        border-radius: 0.4vw;
                        .span{
                            display: none;
                        }
                    }
                }
            }
        }
    }
    .right{
        flex: 1;
        .locedit{
            border-bottom: 1px solid #B8B8B8;
            margin-right: 7vw;
            display: flex;
            align-items: center;
            padding-bottom: 1vw;
            .input{
                border: none;
                font-size: 14px;
                width: 13vw;
                outline: none;
                &::placeholder{
                    color: black;
                }
            }
            
        }
        .loctext{
            margin-top: 5vh;
            margin-right: 5vw;
            display: flex;
            gap: 0.4vw;
            margin-bottom: 7vh;
            img{
                object-fit: cover;
                width: 2vw;
                height: 2vh;
                margin-top: 0.5vh;
            }
            .locspan{
                color: #a3a3a3;
                font-size: 13px;
            }
        }
        .reco{
            display: flex;
            align-items: center;
            letter-spacing: 0.1vw;
            .recoimg{
                display: flex;
                margin-right: 0.3vw;
            }
        }
        .groups{
            margin-top: 2vh;
            .grp{
                display: flex;
                justify-content: space-between;
                margin-right: 5vw;
                padding: 10px;
                .grpleft{
                    display: flex;
                    align-items: center;
                    gap: 0.75vw;
                    font-size: 14px;
                }
                .grpright{
                    .grpbtn{
                        font-family: poppins;
                        border: none;
                        outline: none;
                        padding: 2px 10px;
                        font-size: 13px;
                        border-radius: 12px;

                    }
                    .grpbtnbl{
                        font-family: poppins;
                        border: none;
                        outline: none;
                        font-size: 13px;
                        padding: 2px 10px;
                        border-radius: 12px;
                        color: white;
                        background-color: black;
                    }
                }
            }
        }
        .seemore{
            text-align: end;
            margin-top: 5vh;
            margin-right: 5.5vw;
            font-size: 13px;
            color: #2F6CE5;
        }
    }
    .pen{
        display: none;
    }
}

@media screen and (max-width: 1080px){
    .home{
        display: flex;
        flex-direction: column;
        margin: 3vh 0vw 3vh 0vw;
        gap: 5vw;
        .left{
            flex:1;
            .post-ared{
                margin-bottom: 2vh;
                .postimg{
                    height: 23vh;
                }
                .text{
                    margin: 3vw;
                    .menu{
                        top: 5vh;
                        right: 10vw;         
                    }
                    .medtext{
                        font-size: 14px;
                    }
                    .boldtext{
                        font-size: 16px;
                        width: 80vw;
                    }
                    .smtext{
                        font-size: 14px;
                    }
                }
            }
            .details{
                .date{
                    gap: 0.4vw;
                    img{
                        object-fit: cover;
                    }
                }
                .location{
                    display: flex;
                    gap: 0.4vw;
                    img{
                        object-fit: cover;
                    }
                }
            }
            .website{
                .websitebtn{
                    font-size:13px;
                }
            }
            .Apply{
                .applybtn{
                    font-size:13px;
                }
            }

            .userEx{
                .userleft{
                    font-size: 14px;
                    gap: 1vw;
                }
                .userright{
                    button{
                        display: flex;
                        align-items: center;
                        font-family: poppins;
                        border-radius: 0.4vw;
                        border: none;
                        .span{
                            display: flex;
                        }
                    }
                }
            }
        }
        .right{
            display: none;
        }
        .pen{
            display: block;
            width: 9vh;
            height: 9vh;
            right: 4vw;
            bottom: 4vw;
            position: fixed;
            object-fit: cover;
        }
    }
    .opendiv{
        display: block;
        .closebutn{
            position: fixed;
            right: 2vw;
            top: 22vh;
            z-index: 999999;
        }
    }
    
}