.home{
    display: flex;
    margin: 7vh 15vh 10vh 15vw;
    gap: 5vw;
    .left{
        flex: 2.1;
        .post-ared{
            border: 1px solid #E0E0E0;
            border-radius: 10px;
            margin-bottom: 1vw;
            .postimg{
                border-radius: 10px 10px 0px 0px;
                width: 100%;
                height: 32vh;
                object-fit: cover;
            }
            .text{
                margin: 1.5vw;
                display: flex;
                flex-direction: column;
                gap: 2vh;
                position: relative;
                .menu{
                    border: none;
                    width: 2.5vw;
                    height: 2.5vw;
                    background-color: white;
                    position: absolute;
                    right: 0;
                    top: 6vh;              
                }
                .medtext{
                    font-size: 18px;
                    font-weight: bold;
                }
                .boldtext{
                    font-weight: bold;
                    font-size: 22px;
                    width: 40vw;
                }
                .smtext{
                    font-size: 18px;
                    color: #5C5C5C;
                }
            }
            .details{
                display: flex;
                align-items: center;
                gap: 5vw;
                .date{
                    display: flex;
                    gap: 0.4vw;
                    img{
                        object-fit: cover;
                    }
                }
                .location{
                    display: flex;
                    gap: 0.4vw;
                    img{
                        object-fit: cover;
                    }
                }
            }
            .website{
                .websitebtn{
                    width: 100%;
                    height: 6vh;
                    background-color: white;
                    color: #E56135;
                    font-family: poppins;
                    font-weight: bold;
                    font-size: 14px;
                    border: 1px solid #A9AEB8;
                    border-radius: 10px;
                }
            }
            .Apply{
                .applybtn{
                    width: 100%;
                    height: 6vh;
                    background-color: white;
                    color: #02B875;
                    font-family: poppins;
                    font-weight: bold;
                    font-size: 14px;
                    border: 1px solid #A9AEB8;
                    border-radius: 10px;
                }
            }

            .userEx{
                margin: 1.5vw;
                display: flex;
                justify-content: space-between;
                .userleft{
                    display: flex;
                    align-items: center;
                    font-weight: bold;
                    gap: 1vw;
                    .userImg{
                        border-radius: 50%;
                    }
                }
                .userright{
                    display: flex;
                    align-items: center;
                    gap: 2vw;
                }
            }
        }
    }
    .right{
        flex: 1;
        .locedit{
            border-bottom: 1px solid #B8B8B8;
            margin-right: 7vw;
            display: flex;
            align-items: center;
            padding-bottom: 1vw;
            .input{
                border: none;
                font-size: 14px;
                width: 13vw;
                outline: none;
                &::placeholder{
                    color: black;
                }
            }
            
        }
        .loctext{
            margin-top: 5vh;
            margin-right: 5vw;
            display: flex;
            img{
                object-fit: cover;
                width: 1vw;
                height: 1vh;
            }
            .locspan{
                color: #a3a3a3;
                font-size: 13px;
            }
        }
    }
}