.navbar{
    display: flex;
    justify-content: space-around;
    margin: 2vw 0vw -3.7vh 0vw;
    position: relative;
    .left{
        .navul{
            display: flex;
            gap: 2vw;
            li{
                list-style: none;
                color: #8A8A8A;
                padding-bottom: 3vh;
                transition: 0.1s;
                &:hover{
                    border-bottom: 2px solid black;
                }
            }
            
            #active{
                color: black;
                border-bottom: 2px solid black;
            }
        }
    }
    .right{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 15px;
        gap: 1vw;
        padding-bottom: 4vh;
        .post{
            display: flex;
            gap: 5px;
            padding: 7px 10px; 
            border-radius: 5px;
            background-color: #EDEEF0;
        }
        .group{
            background-color: #2F6CE5;
            display: flex;
            color: white;
            gap: 5px;
            padding: 7px 10px; 
            border-radius: 5px;
        }
    }
}
.linediv{
    width: 72.5vw;
    margin-left: 15.3vw;
    position: absolute;
    z-index: -999;
    .line{
        border: 1px solid #E0E0E0;
    }
}
