.navbar{
    display: flex;
    justify-content: space-around;
    margin: 2vw 0vw -3.7vh 0vw;
    position: relative;
    .left{
        .navul{
            display: flex;
            gap: 2vw;
            li{
                list-style: none;
                color: #8A8A8A;
                padding-bottom: 3vh;
                transition: 0.1s;
                &:hover{
                    border-bottom: 2px solid black;
                }
            }
            #filter{
                display: none;
            }
            
            #active{
                color: black;
                font-size: 14px;
                padding-top: 1.2vh;
                border-bottom: 2px solid black;
            }
        }
    }
    .right{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 15px;
        gap: 1vw;
        padding-bottom: 4vh;
        .post{
            display: flex;
            gap: 5px;
            padding: 7px 10px; 
            border-radius: 5px;
            background-color: #EDEEF0;
        }
        .group{
            background-color: #2F6CE5;
            display: flex;
            align-items: center;
            border: none;
            color: white;
            font-family: poppins;
            gap: 5px;
            padding: 7px 10px; 
            border-radius: 5px;
        }
    }
}
.linediv{
    width: 71vw;
    margin-left: 15.3vw;
    position: absolute;
    z-index: -999;
    .line{
        border: 1px solid #E0E0E0;
    }
}

@media screen and (max-width: 1080px){
    .navbar{
        flex-direction: column;
        margin: 0;
        .left{
            .navul{
                gap: 0px;
                li{
                    padding-bottom: 0vh;
                    &:hover{
                        border-bottom: 0px solid black;
                    }
                    .filterdrop{
                        border: none;
                        font-family: poppins;
                        background-color: #F1F3F5;
                        padding: 1vh;
                        border-radius: 0.6vw;
                        text-align: center;
                        position: absolute;
                        right: 3vw;
                        outline: none;
                    }
                }
                #inactive{
                    display: none;
                }
                #filter{
                    display: flex;
                }
                #active{
                    color: black;
                    border-bottom: 0px solid black;
                    span{
                        display: none;
                    }
                }
            }
        }
        .right{
            display: none;
        }
    }
    .linediv{
        display: none;
    }
}